
# =========================
# Environment
# =========================
.venv/
venv/
env/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Outputs / experiments
# =========================



# =========================
# Logs / checkpoints (częste w ML)
# =========================
*.log
*.ckpt
*.pt
*.pth

# =========================
# OS files
# =========================
.DS_Store

# =========================
# UV / build system
# =========================
uv.lock
dist/
build/
*.egg-info/

# =========================
# Large data (opcjonalnie)
# =========================
single-cell-tracks_exp1-6_noErbB2.csv.gz
analysis_outputs/
